xml00/alumno.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="alumno">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"></xs:element>
                <xs:element name="nacimiento" type="xs:date"></xs:element>
            </xs:sequence>
            <xs:attribute name="correo" type="xs:string"></xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>